
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />    
    <title>Index</title>   
    <style>
         #logo ul li:nth-child(2) a{font-weight:bold;color:black ;}
        #houzhu {width:1000px;height:500px;margin:0px auto;border:1px solid black;}
        tr td img{width:20px;height:40px;}
        #head {width:760px;height:50px;}
        #head input{border:3px solid lightsalmon;background:#fff;outline:none;}
        #keyword {width:220px;height:36px;}
        #put-in {width:50px;height:36px;color:white;font-size:15px;position:absolute;}
    </style>
</head>
<body>    
    <div id="houzhu " class="container" style="margin-bottom: 30px;">
        <div>&nbsp;</div>
        <form action="/Admin/Index" method="post" id="head">
            <input type="submit" id="put-in" style=" background-color:lightsalmon;" value="查询" />
        </form>

        @Html.Partial("HouTai")

    </div>
</body>
</html>
