
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model 商城百媚.Models.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>zhuc</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
         #zhu {width:1120px;height:500px;margin:0px auto;border:1px solid #808080;}
         #zhong {text-align:center;}
         #zhong {margin-top:20px;}
         #zhong p{margin-top:20px;}
    </style>
</head>
<body>
    <div class="container" style="width:400px" id="zhu">
        <form action="/User/zhuc" method="post" id="zhong">
            <fieldset>
                <legend>用户信息</legend>
                <div>
                    <label>登录名</label>
                    <input type="text" name="UserName" value="@Model.UserName" class="form-control" />
                </div>
                <div>
                    <label>密码</label>
                    <input type="password" name="Pwd" value="@Model.Pwd" class="form-control" />
                </div>
                <div>
                    <label>邮箱</label>
                    <input type="text" name="Email" value="@Model.Email" class="form-control" />
                </div>
                <div>
                    <label>昵称</label>
                    <input type="text" name="Nick" value="@Model.Nick" class="form-control" />
                </div>
                <input type="submit" value="保存" class="form-control btn btn-danger" />
            </fieldset>
            <a href="/User/user">返回列表</a>
        </form>
    </div>
</body>
</html>
