
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-image: url("/image/bj.jpg");
            background-repeat: no-repeat;
            background-size:100%;
        }
        label {color:black ;}
         #top{width:1300px;height:180px;}
         #login{width:300px;margin-left :200px;line-height:40px;}
    </style>
</head>
<body>
    <div id="zhu">
        <div id="top"></div>
        <form action="/Shou/Login" method="post" style="width:300px;margin-left :40%;">
            <h1 style="margin-left:38%">登录</h1>
            <p>
                <label>账号:</label>
                <input type="text" name="name" value="" class="form-control" />
            </p>
            <p>
                <label>密码:</label>
                <input type="password" name="pwd" value="" class="form-control" />
            </p>
            <input type="submit" value="登录" class="form-control" style="color:black;background-color:lightseagreen" />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </form>
    </div>
</body>
</html>
